.filters-group-container {
  margin-top: 16px;
  font-family: roboto;
}

@media screen and (min-width: 768px) {
  .filters-group-container {
    width: 30%;
    max-width: 350px;
    margin-top: 48px;
    flex-shrink: 0;
  }
}

/* Write your CSS here */
/* .filters-container {
 
} */
.item-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.list-container {
  list-style-type: none;
}
.category {
  color: #12022f;
  font-size: 22px;
}
.cat {
  color: #0f172a;
}
.active-btn {
  color: #0967d2;
}
.rating-img {
  width: 80%;
}
.rating-item {
  display: flex;
  justify-content: space-between;
}
.up {
  color: #475569;
}
.active {
  color: #0967d2;
}
.clear-filters-btn {
  color: #0967d2;
  border: 1px solid #0967d2;
  border-radius: 10px;
  padding: 10px;
  background-color: transparent;
}
